<div class="container">
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0"><%= t('.sign_up') %></h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item"><a href="<%= products_path %>"><%= t('.home') %></a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= t('.sign_up') %></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="col-lg-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="form-group px-2">
            <div class="field">
              <%= f.label :email, t('.email'), class: "text-small text-uppercase" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group px-2">
            <div class="field">
              <%= f.label :password, t('.password'), class: "text-small text-uppercase" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> <%= t('.minimum_char') %>)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group px-2">
            <div class="field">
              <%= f.label :password_confirmation, t('.password_confirmation'), class: "text-small text-uppercase" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
            </div>
          </div>
        </div>

        <div class="actions col-sm-3 pl-sm-0">
          <%= f.submit t('.sign_up'), class: "btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" %>
        </div>
      <% end %>
      
      <div class="py-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </section>
</div>
