<script>
  $(document).ready(function () {
    var addresses = JSON.parse($('#addresses').val())
    var shipping_form = document.getElementById('shipping_address_form')
    shipping_form.addEventListener('submit', validateform)

    function validateform(e) {
      e.preventDefault()
      if(document.getElementById('shipping_address_form').checkValidity()){
        $.ajax({
          url: "",
          contentType: 'application/json',
          type: "POST",
          data: JSON.stringify({
            checkout_action: 'add_address',
            first_name: $('#firstName').val(),
            last_name: $('#lastName').val(),
            email: $('#email').val(),
            phone_number: $('#phoneNumber').val(),
            postal_code: $('#postalCode').val(),
            country: $('#country').val(),
            street_address: $('#streetAddress').val(),
            apartment: $('#apartment').val(),
            city: $('#city').val(),
            province: $('#province').val(),
            default_address: false
          }),
          success: function () {
            window.location.href = "<%= checkout_path %>"
          }
        });
      }
    }

    $('.chooseAddress').click(function () {
      var chosenAddress = findAddress(this.id)
      setAddress(chosenAddress)
    })

    function findAddress(addressId){
      var address = null
      addresses.forEach( addr => {
        if (addressId == addr.id) {
          address = addr
          return;
        }   
      })
      return address
    }

    function setAddress(chosenAddress){
      document.getElementById('firstName').value     = chosenAddress.first_name
      document.getElementById('lastName').value      = chosenAddress.last_name
      document.getElementById('email').value         = chosenAddress.email
      document.getElementById('phoneNumber').value   = chosenAddress.phone_number
      document.getElementById('postalCode').value    = chosenAddress.postal_code
      document.getElementById('country').value       = chosenAddress.country
      document.getElementById('streetAddress').value = chosenAddress.street_address
      document.getElementById('apartment').value     = chosenAddress.apartment
      document.getElementById('city').value          = chosenAddress.city
      document.getElementById('province').value      = chosenAddress.province
    }
  })
</script>

<!-- SHIPPING ADDRESS-->
  <div class="col-lg-8">
    <div id="existing_address" class="row">
    <!-- EXISTING ADDRESSES-->
      <input type="hidden" name="addresses" id="addresses" value='<%= @addresses.to_json %>'  />
      <% unless @addresses.nil? || @addresses.empty? %>
        <% @addresses.each do |address| %>
          <div class="col-lg-4 col-sm-6">
            <div id="<%= address.id %>" class="chooseAddress product text-center">
              <p class="small text-muted"><%= address.first_name %> <%= address.last_name %>, <%= address.phone_number %></p>
              <p class="small text-muted"><%= address.email %></p>
              <p class="small text-muted"><%= address.street_address %>, <%= address.postal_code %></p>
              <p class="small text-muted"><%= address.city %>, <%= address.province %></p>        
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <form id="shipping_address_form" action="">
    <div class="row">
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="firstName"><%= t('.first_name') %></label>
        <input class="form-control form-control-lg" name="firstName" id="firstName" type="text" placeholder="<%= t('.enter_first_name') %>" required>
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="lastName"><%= t('.last_name') %></label>
        <input class="form-control form-control-lg" name="lastName" id="lastName" type="text" placeholder="<%= t('.enter_last_name') %>" required>
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="email"><%= t('.email_address') %></label>
        <input class="form-control form-control-lg" name="email" id="email" type="email" placeholder="e.g. Jason@example.com" required>
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="phone"><%= t('.phone_number') %></label>
        <input class="form-control form-control-lg" name="phoneNumber" id="phoneNumber" type="tel" placeholder="e.g. +02 245354745" required>
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="postalCode"><%= t('.postal_code') %></label>
        <input class="form-control form-control-lg" name="postalCode" id="postalCode" type="text" placeholder="<%= t('.enter_postal_code') %>" required>
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="country"><%= t('.country') %></label>
        <input class="form-control form-control-lg" name="country" id="country" type="text" placeholder="<%= t('.enter_country') %>" required>
      </div>
      <div class="col-lg-12 form-group">
        <label class="text-small text-uppercase" for="streetAddress"><%= t('.address_line1') %></label>
        <input class="form-control form-control-lg" name="streetAddress" id="streetAddress" type="text" placeholder="<%= t('.enter_house_number') %>" required>
      </div>
      <div class="col-lg-12 form-group">
        <label class="text-small text-uppercase" for="apartment"><%= t('.address_line2') %></label>
        <input class="form-control form-control-lg" name="apartment" id="apartment" type="text" placeholder="<%= t('.enter_apartment') %>">
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="city"><%= t('.town_city') %></label>
        <input class="form-control form-control-lg" name="city" id="city" type="text" placeholder="<%= t('.enter_city') %>" required>
      </div>
      <div class="col-lg-6 form-group">
        <label class="text-small text-uppercase" for="province"><%= t('.state_province') %></label>
        <input class="form-control form-control-lg" name="province" id="province" type="text" placeholder="<%= t('.enter_province') %>" required>
      </div>
    </div>
    <div class="bg-light px-4 py-3">
      <div class="row align-items-center text-center">
        <div class="col-md-6 mb-3 mb-md-0 text-md-left"><div id="backToCart" class="btn btn-link p-0 text-dark btn-sm"><i class="fas fa-long-arrow-alt-left mr-2"> </i><%= t('.back_to_cart') %></div></div>
        <div class="col-md-6 text-md-right"><button id="placeOrder" class="btn btn-outline-dark btn-sm"><%= t('.place_order') %><i class="fas fa-long-arrow-alt-right ml-2"></i></button></div>
      </div>
    </div>
    </form>
  </div>
  