<script>
  $(document).ready(function () {

    var line_items = JSON.parse($('#line_items').val())
    console.log(line_items)

    updateTotals()

    function updateTotals(){
      var subtotal = 0
      line_items.forEach((item) => {
        subtotal += updateSingleTotal(item.id)
      })
      document.getElementById('cart-subtotal').innerHTML = (Math.round(subtotal * 100) / 100).toFixed(2)
      document.getElementById('cart-total').innerHTML = (Math.round(subtotal * 113) / 100).toFixed(2)
    }

    function updateSingleTotal(line_item_id){
      var price = parseInt($('#price-' + line_item_id).text())
      var quantity = $('#quantity-' + line_item_id).val()
      var line_item_amount = price * quantity
      document.getElementById('single_item_total-' + line_item_id).innerHTML = line_item_amount
      return line_item_amount
    }

    $('.cart-dec-btn').click(function () {
      
      var line_item_id = this.className.split(' ')[0];
      var siblings = $(this).siblings('input');
      if (parseInt(siblings.val(), 10) > 1) {
        siblings.val(parseInt(siblings.val(), 10) - 1);
      }
      updateTotals(line_item_id)
    });

    $('.cart-inc-btn').click(function () {
      var line_item_id = this.className.split(' ')[0];
      var siblings = $(this).siblings('input');
      siblings.val(parseInt(siblings.val(), 0) + 1);
      updateTotals(line_item_id)
    });

    $('#checkout').click(function () {
      console.log("checkout button clicked")
      var checkout_line_items = []
      line_items.forEach((item) => {
        checkout_line_items.push({
          id: item.id,
          quantity: $('#quantity-' + item.id).val()
        })
      })

      $.ajax({
        url: "/checkout",
        contentType: 'application/json',
        type: "POST",
        data: JSON.stringify({
          checkout_action: "start_checkout",
          line_items: checkout_line_items
        }),
        success: function () {
          window.location.href = "<%= checkout_path %>"
        }
      })
    })
  })
</script>

<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Cart</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
              <li class="breadcrumb-item"><a href="<%= products_path %>">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <h2 class="h5 text-uppercase mb-4">Shopping cart</h2>
    <div class="row">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <!-- CART TABLE-->
        <div class="table-responsive mb-4">
          <table class="table">
            <thead class="bg-light">
            <tr>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Product</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
              <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
              <th class="border-0" scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            <input type="hidden" name="line_items" id="line_items" value='<%= @line_items.to_json %>'  />
              <% @line_items.each do |line_item| %>
                <tr>
                  <th class="pl-0 border-0" scope="row">
                    <div class="media align-items-center"><a class="reset-anchor d-block animsition-link" href="<%= product_path(line_item.sku) %>"><img src="<%= line_item.image %>" alt="..." width="70"/></a>
                      <div class="media-body ml-3"><strong class="h6"><a class="reset-anchor animsition-link" href="<%= product_path(line_item.sku) %>"><%= line_item.sku %></a></strong></div>
                    </div>
                  </th>
                  <td class="align-middle border-0">
                    <p id="price-<%= line_item.id %>" class="mb-0 small"><%= line_item.price %></p>
                  </td>
                  <td class="align-middle border-0">
                    <div class="border d-flex align-items-center justify-content-between px-3"><span class="small text-uppercase text-gray headings-font-family">size: <%= line_item.size %></span>
                      <div class="quantity">
                        <button id="cart-dec-btn" class="<%= line_item.id %> cart-dec-btn"><i class="fas fa-caret-left"></i></button>
                        <input id="quantity-<%= line_item.id %>" class="line_item_quantity form-control form-control-sm border-0 shadow-0 p-0" type="text" value="<%= line_item.quantity %>"/>
                        <button id="cart-inc-btn" class="<%= line_item.id %> cart-inc-btn"><i class="fas fa-caret-right"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle border-0">
                    <p class="mb-0 small" id="single_item_total-<%= line_item.id %>"><%= line_item.price.to_i %></p>
                  </td>
                  <td class="align-middle border-0"><a class="reset-anchor" href="#"><i class="fas fa-trash-alt small text-muted"></i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- CART NAV-->
        <div class="bg-light px-4 py-3">
          <div class="row align-items-center text-center">
            <div class="col-md-6 mb-3 mb-md-0 text-md-left"><a class="btn btn-link p-0 text-dark btn-sm" href="<%= products_path %>"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue shopping</a></div>
            <div class="col-md-6 text-md-right"><button id="checkout" class="btn btn-outline-dark btn-sm">Procceed to checkout<i class="fas fa-long-arrow-alt-right ml-2"></i></button></div>
          </div>
        </div>
      </div>
      <!-- ORDER TOTAL-->
      <div class="col-lg-4">
        <div class="card border-0 rounded-0 p-lg-4 bg-light">
          <div class="card-body">
            <h5 class="text-uppercase mb-4">Cart total</h5>
            <ul class="list-unstyled mb-0">
              <li class="d-flex align-items-center justify-content-between">
                <strong class="text-uppercase small font-weight-bold">Subtotal</strong>
                <span id="cart-subtotal" class="text-muted small"></span>
              </li>
              <li class="border-bottom my-2"></li>
              <li class="d-flex align-items-center justify-content-between mb-4">
                <strong class="text-uppercase small font-weight-bold">Total</strong>
                <span id="cart-total"></span>
              </li>
              <li>
                <form action="#">
                  <div class="form-group mb-0">
                    <input class="form-control" type="text" placeholder="Enter your coupon">
                    <button class="btn btn-dark btn-sm btn-block" type="submit"> <i class="fas fa-gift mr-2"></i>Apply coupon</button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>